<% layout('boilerplates/default')%>
<article class="h-100">
	<h1 class="my-4 text-center">All Products</h1>
	<section class="d-flex flex-wrap justify-content-center">
		<% for (let product of products) {%>
		<div class="card m-2 hover-scale" style="width: 18rem">
			<a href="/products/<%=product.id%>">
				<div class="card-body">
					<h2 class="card-title text-center text-primary fs-3">
						<%= product.title %>
					</h2>
					<% if (product.images.length){ %>
					<img
						src="<%= product.images[0].url %> "
						class="card-img-top"
						alt="..."
					/>
					<% }else{ %>
					<img
						src="https://st3.depositphotos.com/23594922/31822/v/600/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg"
						alt=""
						class="card-img-top"
					/>
					<% } %>
					<div class="text-primary text-center">
						<%= product.currency %><%= product.price %>
					</div>
				</div>
			</a>
		</div>

		<% } %>
	</section>
</article>
